* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --height-menu: 80px;
    --width-menu: 300px;
}
@font-face {
    font-family: "ThuPhap";
    src: url(./fonts/hlbrush3.ttf);
}
body{
    font-family: "ThuPhap";
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

a[href] {
    text-decoration: none;
    color: rgb(18, 53, 54);
}
img {
    width: 100%;
    height: auto;
}

.background {
    background-color: rgb(212, 225, 225);
}

.togglebars,
.logo-mobile,
.close-menubar {
    display: none;
}

.header {
    margin-bottom: var(--height-menu);
    font-family: Arial, Helvetica, sans-serif;
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    width: 100%;
    height: var(--height-menu);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.header-nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-nav .logo a,
.header-nav .logo-mobile a {
    font-size: 30px;
    display: inline-block;
    font-weight: 600;
    color: rgb(13, 83, 67);
}

.header__menu {
    transition: all 0.3s linear;
}

.header__menu ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu ul li {
}

.header__menu ul li a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-menu);
    transition: all 0.3 linear;
}

.header__menu ul li a:hover {
    color: #b80b30;
}

.header .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .wrapper .btn {
    color: #b80b30;
    font-size: 20px;
}

.form-search input {
    border: 0;
    background: #f2f2f2 url(https://mymodernmet.com/assets/img/search-icon.png) 10px 50% no-repeat;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    width: 200px;
    height: 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 0 0 30px;
    caret-color: #b80b30;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    align-items: start;
    background-color: rgb(195, 214, 214);
    padding: 40px 20px;
}

.footer .company .logo {
    font-size: 30px;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 20px;
}

.company .logo .logo-a {
    text-decoration: none;
    color: rgb(13, 83, 67);
    display: flex;
    gap: 10px;
    align-items: center;
}

.company-home .logo .fa-solid {
    font-size: 30px;
    padding: 0 10px;
}

.company .company-home {
    padding-bottom: 15px;
}

.company .company-home .company-list {
    display: flex;
    flex-wrap: wrap;
}

.company-home .company-list li a {
    white-space: nowrap;
    text-decoration: none;
    padding: 0 5px;
    color: rgb(18, 53, 54);
}

.company .company-year {
    padding-left: 5px;
    color: rgb(18, 53, 54);
    font-style: italic;
    font-size: 12px;
}

.footer .information .information-list {
    line-height: 1.8;
    color: rgb(18, 53, 54);
    display: grid;
    gap: 10px;
}

.footer .information .information-list:first-child {
    line-height: 1.4;
}

.information .information-list li i {
    padding-right: 10px;
}

.footer .introduce {
    color: rgb(18, 53, 54);
    display: grid;
    gap: 10px;
}

.footer .introduce .intro-title {
    font-size: 24px;
}

.footer .introduce .intro-content {
    text-align: justify;
    line-height: 1.2;
    font-size: 14px;
}

.intro-list .intro-media {
    display: flex;
}

.intro-media li a {
    padding-right: 10px;
    color: rgb(18, 53, 54);
}
@media (max-width: 1200px) {
    .header__menu ul li a {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .togglebars {
        display: block;
    }
    .logo-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height-menu);
    }
    .toggle-bars-btn {
        font-size: 24px;
        color: #000000;
    }
    .close-menubar{
        display: block;
        font-size: 30px;
        color: red;
        position: absolute;
        top: 4%;
        right: 5%;
        z-index: 1;
    }
    .header__menu {
        transform: translateX(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        width: var(--width-menu);
    }
    .header__menu::before{
        content: "";
        position: absolute;
        top: 0;
        left: var(--width-menu);
        right: 0;
        bottom: 0;
        width: calc(100vw - var(--width-menu));
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        transform: translateX(calc(100% + var(--width-menu)));
    }
    #inputToggle:checked ~ .header__menu, #inputToggle:checked ~ .header__menu::before {
        transform: translateX(0) ;
        opacity: 1;
    }
    .header__menu ul {
        flex-direction: column;
        gap: 0;
    }
    .header__menu ul li a {
        width: var(--width-menu);
        font-size: 14px;
        height: 50px;
    }
    .header__menu ul li a:hover {
        background-color: #b80b30;
        color: #ffffff;
    }
}

@media (max-width:620px) {
    .header-nav .logo a {
    font-size: 24px;
}

}
@media screen and (max-width: 576px) {
    .form-search input{
        width: 180px;
    }
   .header-nav .logo a {
    display: none;
   }
}
    
@media (max-width: 500px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
