.detail{
    padding: 0 4vw;
    padding-top: 31px;
    color: #000000;
}

.detail-content .detail-img{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}


.detail-content p{
    text-align: justify;
    line-height: 1.4;
}


.detail .list-update .list-title {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.detail .list-update .list-update-content {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.list-update-content li{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
.list-update-content li img{
   width: 300px;
   height: 300px;
  object-fit: cover;
  transition:  transform 0.3s ease;
}

.list-update-content li img:hover{
   transform: translateY(-5px);
}
.btn-like{
    padding: 0;
}

.description {
    padding: 10px;
    margin-top: 5px;
}
.description h2{
    font-size: 30px;
   line-height: 40px;
}


