<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        <link rel="stylesheet" href="{% static 'painting_list.css' %}" />
        <link rel="stylesheet" href="{% static 'paiting_detail.css' %}" />
        <link rel="stylesheet" href="{% static 'painting_search.css' %}" />
        <link rel="stylesheet" href="{% static 'upload.css' %}" />
        <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.1-web/css/all.min.css' %}" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <!-- header -->
        <header class="header">
            <nav class="header-nav">
                <input type="checkbox" id="inputToggle"  hidden/>
                <div class="logo">
                    <div class="togglebars">
                        <label for="inputToggle" class="toggle-bars-btn"
                            ><i class="fa-solid fa-bars"></i
                        ></label>
                    </div>
                    <a href="#"><i class="fa-solid fa-palette"></i> Painting</a>
                </div>
                <label for="inputToggle" class="header__menu">
                    <div class="logo-mobile">
                        <a href="#"><i class="fa-solid fa-palette"></i>Painting</a>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Upload pictures</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Suport</a></li>
                        <li><a href="#">Social</a></li>
                    </ul>
                </label>
                <div class="wrapper">
                    <form class="form-search">
                        <input id="search" type="text" name="search" placeholder="Search" />
                    </form>
                    <a href="#" class="btn">Login</a>
                    <a href="#" class="btn">Log out</a>
                </div>
            </nav>
        </header>

        <!-- Phần Content -->

        {% block content %} {% endblock %}

        <!-- footer -->
        <footer class="footer">
            <div class="company">
                <div class="logo">
                    <a href="" class="logo-a"><i class="fa-solid fa-palette"></i>Painting</a>
                </div>
                <div class="company-home">
                    <ul class="company-list">
                        <li><a href="{% url 'list' %}">Home</a></li>
                        |
                        <li><a href="{%url 'upload' %}">Upload pictures</a></li>
                        |
                        <li><a href="">Contact</a></li>
                        |
                        <li><a href="">Surport</a></li>
                        |
                        <li><a href="">Social</a></li>
                    </ul>
                </div>
                <p class="company-year">Company PITECH ©2013</p>
            </div>

            <div class="information">
                <ul class="information-list">
                    <li>
                        <a href="#"
                            ><i class="fa-solid fa-location-dot"></i>254 Hoang Quoc Viet, Co Nhue 1, Bac Tu Liem, Ha
                            Noi</a
                        >
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-phone"></i>+ 256 879 123</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-envelope"></i>supportpaiting@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="introduce">
                <p class="intro-title">About the company</p>
                <p class="intro-content">
                    With the criterion of giving customers absolute satisfaction, we are constantly innovating, updating
                    the latest design and technology trends, helping customers have great experiences.
                </p>
                <div class="intro-list">
                    <ul class="intro-media">
                        <li>
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-tiktok"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        {% load static %}

        <script src="{% static 'index.js' %}"></script>
    </body>
</html>
