{% extends "pages/base.html" %} 
{% load static %} 
{% block title%}Home{%endblock %} 
{% block content %}
<!-- <div class="background slider">
        <div class="container">
            <div class="row featured"
                 style="background: url('https://znews-photo.zingcdn.me/w860/Uploaded/uohusah/2021_12_07/trien_lam_2_zing.jpg') no-repeat;">
                <div class="overlay">
                    <div class="title">Painting Gallery</div>
                    <div class="description">Xem tranh vẽ đến từ mọi nơi trên thế giới</div>
                </div>
            </div>
            <div class="featured-list">
                <div class="img-list">
                    {% for painting in paintings %}
                    <a class="img-item" href="{% url 'detail' pk=painting.id %}">
                        <div class="img-wrap">
                            <img src="{{ painting.image.url }}" alt="" />
                        </div>
                        <div class="img-name">
                            {{ painting.name }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <a class="prev" onclick="scrollFeaturedList(-320, 0)">&#10094;</a>
                <a class="next" onclick="scrollFeaturedList(320, 0)">&#10095;</a>
            </div>
        </div>
    </div> -->

<main role="main" class="home">
  <section class="home-featured-article">
    <div class="banner">
      <div class="overlay">
        <div class="banner-contents">
          <h2>
            <a href="https://mymodernmet.com/studio-be-new-orleans/">
              Painting Gallery</a
            >
          </h2>
          <a class="text" href="https://mymodernmet.com/studio-be-new-orleans/">
            <p>Xem tranh vẽ đến từ mọi nơi trên thế giới</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-articles">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="recent-articles-title home-title">
          <!-- My Modern Met -->
          <!-- <span class="subtext">
            <a href="#"> The Big City That Celebrates Creativity</a></span
          > -->
        </h3>
      </div>
    </div>
    <div class="featured-list">
      {% for painting in paintings %}
      <div class="featured-col">
        <div class="featured-image">
          <a href="{% url 'detail' pk=painting.id %}"
            ><img src="{{ painting.image.url }}"
          /></a>
        </div>
        <div class="home-category">
          <a href="{% url 'detail' pk=painting.id %}">{{ painting.name }}</a>
        </div>
        <a href="{% url 'detail' pk=painting.id %}">{{ painting.upload_date }}</a>
      </div>
      {% endfor %}
    </div>
    <div class="show-more">
      <button>Show more</button>
    </div>
  </section>
</main>

<!-- {% comment %} <div class="list">
    {% for painting in paintings %}
    <div class="row ">
        <div class="col col-third picture-overview">
            <a href="{% url 'detail' pk=painting.id %}"><img
                    src="{{ painting.image.url }}" class="over-img" alt></a>
            <div class="over-des">
                <p>Name: {{ painting.name }}</p>
                <p>Date upload: {{ painting.upload_date }}</p>
            </div>
            <a href="{% url 'detail' pk=painting.id %}" class="over-click">See
                picture details <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}
{% endblock %} -->
