{% extends "pages/base.html" %} 
{% load static %} 
{% block title%}Home{%endblock %} 
{% block content %}

<main role="main" class="home">
  <section class="home-featured-article">
    <div class="banner">
      <div class="overlay">
        <div class="banner-contents">
          <h2>
            <a href="https://mymodernmet.com/studio-be-new-orleans/">
              Painting Gallery</a
            >
          </h2>
          <a class="text" href="https://mymodernmet.com/studio-be-new-orleans/">
            <p>Xem tranh vẽ đến từ mọi nơi trên thế giới</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-articles">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="recent-articles-title home-title">
          <!-- My Modern Met -->
          <!-- <span class="subtext">
            <a href="#"> The Big City That Celebrates Creativity</a></span
          > -->
        </h3>
      </div>
    </div>
    <div class="featured-list">
      {% for painting in paintings %}
      <div class="featured-col">
        <a href="{% url 'detail' pk=painting.id %}" class="featured-image">
          <img src="{{ painting.image.url }}"/>
        <div class="home-category">
         <p>{{ painting.name }}</p>
        </div>
       <time>{{ painting.upload_date }}</time>
      </a>
      </div>
      {% endfor %}
    </div>
    <div class="show-more">
      <button>Show more</button>
    </div>
  </section>
</main>

<!-- {% comment %} <div class="list">
    {% for painting in paintings %}
    <div class="row ">
        <div class="col col-third picture-overview">
            <a href="{% url 'detail' pk=painting.id %}"><img
                    src="{{ painting.image.url }}" class="over-img" alt></a>
            <div class="over-des">
                <p>Name: {{ painting.name }}</p>
                <p>Date upload: {{ painting.upload_date }}</p>
            </div>
            <a href="{% url 'detail' pk=painting.id %}" class="over-click">See
                picture details <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}
{% endblock %} -->
