
{% extends "pages/base.html" %}
{% load static %}  
{% block title %} 
    {{painting.name}}
{% endblock %}
{% block content %}
<div class="detail">
    <div class="detail-content">
        <img src="{{ painting.image.url }}" class="detail-img" alt="">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: inline-flex; justify-content: center; align-items: center;">
                {% if isLiked %}
                <form action="{% url 'detailUnlike' pk=painting.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="font-size: large;" class="btn-like">❤️</button>
                </form>
                {% else %}
                <form action="{% url 'detailLike' pk=painting.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="font-size: larger;" class="btn-like">🤍</button>
                </form>
                {% endif %}
                &nbsp;<p style="font-size: larger;"> {{ likeCount }} </p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <p style="margin: 0 16px;"> {{ painting.upload_date }}</p>
                <a style="background-color: #4CAF50; border: none; color: white;
                padding: 8px 16px; text-align: center; text-decoration: none;
                display: inline-block; font-size: 16px;" href="{% url 'update' pk=painting.id %}"> Cập nhật </a>
                <form action="{% url 'delete' pk=painting.id %}" method="post">
                    {% csrf_token %}
                    <button style="background-color: #ff0000; border: none; color: white;
                    padding: 8px 16px; text-align: center; text-decoration: none;
                    display: inline-block; font-size: 16px; margin: 0; line-height: 27px; border-radius: unset;" type="submit"> Xoá bỏ </button>
                </form>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="description">
            <h2> {{ painting.name }}</h2>
            <p> {{ painting.description }}</p>
        </div>
        <br>
        <div class="list-update">
            <h3 class="list-title">Painting just updated</h3>
            <ul class="list-update-content">
            {% for painting in paintings %}
            <li>
                <img src="{{painting.image.url}}" alt="{{ painting.image.name }}"/>
                <a href="{% url 'detail' pk=painting.id %}">{{ painting.name }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}