{% extends "pages/base.html" %}
{% load static %}

{% block title %}
Upload picture
{% endblock %}

{% block content %}
  <form class="form-upload" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h1><br> Upload a Painting</h1>
    <div class="form-group">
      <label for="title">Name</label>
      <input type="text" name="name" id="id_name" value="{{form.instance.name}}" class="form-controll" />
    </div>
    <div class="form-group">
      <label for="caption">Description</label>
      <input type="text" name="description" id="id_description" value="{{form.instance.description}}" class="form-controll" />
    </div>
    <div class="form-group file-area">
      <label for="image">Image</label>
      {% if form.instance.image %}
        <div class="success">Current image</div>
        <img src="{{form.instance.image.url}}" alt="">
        <div class="success">Replaced image</div>
      {% endif %}
      <input type="file" name="image" id="id_image" required="required" />
      <div class="file-dummy">
          <div class="default">Please select some files</div>
        </div>
      </div>
    <div class="form-group">
      <button class="btn-submit-upload" type="submit">Submit</button>
    </div>
  </form>

{% endblock %}